.navbar {
  margin-bottom: 50px;
  padding-right: 20px;
}

.active-link {
  font-weight: bold;
}

a {
  margin: 10px 40px;
  padding: 10px 20px;
  font-size: 17;
  font-weight: 400;
}

a:hover, a:focus, .active-link {
  color: #0D6EFD;
}


/* Triggered when screen size becomes <=830px */
@media (max-width: 830px) {
  a {
    margin: 10px 30px;
  }
}

/* Triggered when screen size becomes <=520px */
@media (max-width: 520px) {
  a {
    margin: 7px 15px;
    padding: 7px 15px;
  }
}

/* Triggered when screen size becomes <=345px */
@media (max-width: 345px) {
  a {
    margin: 5px 10px;
    padding: 5px 10px;
  }
}

/* Triggered when screen size becomes <=345px */
@media (max-width: 363px) {
  .navbar {
    padding-right: 5px;
  }
}