<nav class="navbar">
    <div class="container-fluid">
        <div class="d-flex align-items-center flex-row">
        <a class="navbar-brand active banner" routerLink="" routerLinkActive="active-link" [routerLinkActiveOptions]="{exact:true}">
            <span class="d-block d-md-none display-6 text-primary"> F<span class="text-secondary">L</span></span>
            <span class="d-none d-md-block display-6 text-primary"> Faktum<span class="text-secondary">LAB</span></span>
        </a>
    </div>
        <div class="d-flex align-items-center justify-content-end flex-row-reverse">
            <a *ngIf="!authService.isLoggedIn()" href="" routerLinkActive="active-link" class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRight" aria-controls="offcanvasRight"><i class="bi bi-box-arrow-in-right d-block d-md-none"></i><span class="d-none d-md-block"> Log in</span></a>
            <a *ngIf="authService.isLoggedIn()" (click)="onLogout()" href="" routerLinkActive="active-link" class="nav-link"><i class="bi bi-box-arrow-left d-block d-md-none"></i><span class="d-none d-md-block"> Log out</span></a>
            <a routerLink="about" routerLinkActive="active-link" class="nav-link"><i class="bi bi-info-circle-fill d-block d-md-none"></i><span class="d-none d-md-block"> About</span></a>
            <a *ngIf="authService.isLoggedIn()" routerLink="map" routerLinkActive="active-link" class="nav-link"><i class="bi bi-map-fill d-block d-md-none"></i><span class="d-none d-md-block"> Map</span></a>
        <!-- Offcanvas -->
        <app-login></app-login>
        <app-register></app-register>
        <!-- Offcanvas end -->
        </div>

    </div>
</nav>