<body>
    
<!-- Offcanvas -->
<div class="offcanvas offcanvas-end" data-bs-scroll="true" tabindex="-1"
    id="offcanvasRight" aria-labelledby="offcanvasRightLabel">
    <div class="offcanvas-header">
        <h2 id="offcanvasRightLabel" class="account">Log in</h2>
        <button type="button" class="btn-close text-reset"
            data-bs-dismiss="offcanvas" aria-label="Close"></button>
    </div>
    <div class="offcanvas-body">
        <!-- Form -->
        <div>
            <form #loginForm="ngForm" (ngSubmit)="onLogin(loginForm)">
                <div>
                    <label class="form-control-label">USERNAME</label>
                    <input type="text" name="username" class="form-control"
                        required ngModel>
                </div>
                <div>
                    <label class="form-control-label">PASSWORD</label>
                    <input type="password" name="password" class="form-control" autocomplete="on"
                        required ngModel>
                </div>
                <div class="loginbttm">
                    <div>
                        <button [disabled]="!loginForm.valid" type="submit"
                            class="btn btn-outline-primary">LOG IN</button>
                    </div>
                    <div class="row">
                        <p class="account">Don't have an account? <a href="#offcanvasRegister" class="nav-link" data-bs-toggle="offcanvas" data-bs-target="#offcanvasRegister" aria-controls="offcanvasRegister">Register</a></p>
                    </div>
                </div>
            </form>
        </div>
        <!-- Form end -->
    </div>
    <!-- Offcanvas end -->
