input {
    background-color: #DDDADA;
    border: none;
    border-bottom: 2px solid #0D6EFD;
    border-top: 0px;
    border-radius: 0px;
    font-weight: bold;
    outline: 0;
    padding-left: 5px;
  }
  
  a {
    color: #0D6EFD;
  }
  
  a:hover, a:focus {
    color: #0DB1FD;
  }  
  
  .form-control:focus {
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
    border-bottom: 2px solid #0D6EFD;
    background-color: #fff;
  }
  
  
  .form-label {
    font-size: 10px;
    color: #6C6C6C;
    font-weight: bold;
    letter-spacing: 1px;
    margin-top: 30px;
  }
  
  .btn-outline-primary {
    border-color: #0D6EFD;
    color: #0D6EFD;
    border-radius: 0px;
    font-weight: bold;
    letter-spacing: 1px;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-top: 30px;
  }
  
  .btn-outline-primary:hover, .btn-outline-primary:focus {
    background-color: #0D6DFD3B;
    right: 0px;
  }

  .account {
    margin-top: 40px;
    font-weight: bold;
    letter-spacing: 1px;
  }
  
  /*** Error msg ***/
  .ng-invalid .ng-touched {
    border-color: red;
  }

  .error-block {
    font-size: 10px;
    color: red;
    font-weight: bold;
    letter-spacing: 1px;
  }