<div class="container-xxl">
  <br>
  <div>
    <p>
      El Dr. Lenin G. Lemus Zúñiga, investigador del instituto ITACA de la UPV y
      su equipo de investigación, han desarrollado aplicaciones web en donde la
      visualización de la información se podía representar de diferentes formas:
      tablas, mapas y gráficos.
      Al presentar dicha información, se han recibido recomendaciones para
      mejorar la visualización de la información que se muestra en los mapas.
      En este TFG, la tarea principal es la de implementar la parte de la
      aplicación que se muestra al cliente (frontend) basado en cartografía en
      la WEB (Web mapping).
      La "cartografía en la web" se refiere al proceso de diseñar, aplicar,
      generar y visualizar u ofrecer datos geoespaciales a través de la web.
      La tecnología de cartografía en la WEB utiliza varios formatos. Entre
      ellos destaca el formato GML (Geographic Markup Language), el cual se
      quiere utilizar en este TFG para controlar las capas que se muestran al
      usuario final.

    </p>
  </div>
<br>
  <div>
    <h2>Objetivos</h2>

    <p>
      Diseñar e implementar la parte de la aplicación del lado del cliente
      (frontend) utilizando las tecnologías cartográfica.
      Como objetivo secundario es hacer que la aplicación se vea de forma
      correcta en dispositivos móviles, smartphones, tabletas y ordenadores
      personales.

    </p>
  </div>
<br>
  <div>
    <h2>Metodología</h2>
    <ul>
      <li>Comprender qué es la cartografía en la web.</li>
      <li>Definir los recursos que se van a utilizar.</li>
      <li>Comprender el funcionamiento de la aplicación que se ejecuta en el
        lado del servidor (backend).</li>
      <li>Proponer una estructura del frontend responsiva.</li>
      <li>Diseñar e implementar la estructura frontend propuesta.</li>
      <li>Validar que la estructura se visualiza de forma correcta en diferentes
        dispositivos: smartphones, tabletas y ordenadores personales.</li>
    </ul>
  </div>
</div>