<div class="container">
  <div class="row">
    <div class="col-lg-4">
      <img src="src\assets\img\val.png" alt="Valencia">
    </div>
    <div class="col-lg-8">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce hendrerit
        nisi in aliquet semper. Duis tincidunt quam sed fringilla tempor.
        Vivamus id tortor feugiat, mollis nisi eu, sagittis sapien. Sed sodales
        iaculis felis non tincidunt. Donec sit amet sem nunc. Curabitur
        malesuada velit in turpis tempor, quis luctus leo porttitor. Nullam id
        ante porttitor, vestibulum leo euismod, cursus arcu. Sed vehicula
        maximus eros eleifend pellentesque. Aliquam vel ante sollicitudin,
        fermentum lacus eget, finibus ligula. Nam molestie lectus eu lectus
        varius, ut dapibus sapien dictum. Vestibulum accumsan id diam et
        commodo. Vivamus vehicula id justo ut tincidunt. Aliquam vel malesuada
        odio. Vivamus nisl nunc, congue ut commodo in, egestas a dolor. Quisque
        malesuada, ligula ac consectetur feugiat, odio lorem pretium nisl, in
        ultricies nibh dolor et lacus.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <img src="src\assets\img\val2.PNG" alt="Valencia">
    </div>
    <div class="col-lg-8">
      <p>
        Mauris accumsan mattis enim, in sodales nisi lobortis sit amet. Donec
        sit amet ante lectus. Curabitur porta porttitor nulla, nec hendrerit
        quam scelerisque at. Curabitur vitae lorem ultrices, iaculis nisl ut,
        pulvinar magna. In gravida sagittis dolor, ac ullamcorper enim luctus
        at. Suspendisse potenti. Integer vel semper mauris, fermentum mollis
        est.
      </p>
    </div>
  </div>

  <div class="row">
    <div class="col-lg-4">
      <img src="src\assets\img\logo.png" alt="Faktumlab">
    </div>
    <div class="col-lg-8">
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce hendrerit
        nisi in aliquet semper. Duis tincidunt quam sed fringilla tempor.
        Vivamus id tortor feugiat, mollis nisi eu, sagittis sapien. Sed sodales
        iaculis felis non tincidunt. Donec sit amet sem nunc. Curabitur
        malesuada velit in turpis tempor, quis luctus leo porttitor. Nullam id
        ante porttitor, vestibulum leo euismod, cursus arcu. Sed vehicula
        maximus eros eleifend pellentesque. Aliquam vel ante sollicitudin,
        fermentum lacus eget, finibus ligula. Nam molestie lectus eu lectus
        varius, ut dapibus sapien dictum. Vestibulum accumsan id diam et
        commodo. Vivamus vehicula id justo ut tincidunt. Aliquam vel malesuada
        odio. Vivamus nisl nunc, congue ut commodo in, egestas a dolor. Quisque
        malesuada, ligula ac consectetur feugiat, odio lorem pretium nisl, in
        ultricies nibh dolor et lacus.
      </p>
    </div>
  </div>
</div>