<div class="container-fluid">
    <div class="row">
        <div class="col-lg-2 order-lg-3 d-lg-grid d-flex buttonGroup">
            <button id="0" onclick="changeMapId(this.id)" class="d-block d-sm-none">Sin estilo</button>
            <button id="1" onclick="changeMapId(this.id)">Dia uno</button>
            <button id="2" onclick="changeMapId(this.id)">Dia dos</button>
            <button id="3" onclick="changeMapId(this.id)">Dia tres</button>
            <button >Datos</button>
        </div>
        <div class="col-sm-6 col-lg-5 d-none d-sm-block">
            <div id="map0"></div>
        </div>
        <div class="col-sm-6 col-lg-5">
            <div class="bk changeMap"></div>
        </div>
    </div>
</div>