/*#map0, #map1 {
    height: 768px;
    width: 579px;
    /*height: 50vh;
    width: 37.7vw;*
  }*/
/*
579/768 = 0,75390625
*/
/*#map0, #map1 {
    position: absolute;
    width: 40%;
    height: 50%;
}*/

#map0, #map1 {
  margin-left: 10px;
  height: 600px;
  margin-top: 20px;
}

/* ------- Buttons ------- */

/* Triggered when screen size becomes >=990px */
@media (min-width: 990px) {
  .buttonGroup {
      padding: 50px 5px;
      margin-top: 20px;
    }

    .dayBtn {
      margin: 10px;
    }
}


/* Triggered when screen size becomes <=990px */
@media (max-width: 990px) {
  buttonGroup {
    display: inline-block;
    position: relative;
    width: 100%;
  }
  .dayBtn {
    margin: 10px;
  }
} /*690 se deberia mostrar un mapa*/

.btnStl {
  background: #fff;
  font-size: 16px;
  letter-spacing: 1px;
  font-family: sans-serif;
  font-weight: 600;
  border: 3px solid;
  box-shadow: 1px 1px 0px 0px, 2px 2px 0px 0px, 3px 3px 0px 0px, 3px 3px 0px 0px, 4px 4px 0px 0px;
  position: relative;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
}

.btnStl:active {
  box-shadow: 0px 0px 0px 0px;
  top: 2px;
  left: 2px;
}

/*.ol-attribution {
  left: 5px;
}

.ol-control,
.ol-control:hover {
    background-color: transparent !important;
    padding: unset !important;
}

button {
    font-size: 16px !important;
    font-weight: 500 !important;
    margin: 5px !important;
    cursor: pointer !important;
    height: 36px !important;
    width: 36px !important;
    color: white !important;
    background-color: rgb(110, 209, 86) !important;
    box-shadow: black 0 3px 3px !important;
   
}

button :hover{
  background-color: rgb(135, 250, 107) !important;
} 

button:focus {
    background-color: rgb(135, 250, 107) !important;
}

.zoom-control {
    bottom: 0.5em;
    right: 0.5em;
}*/