<div class="container-xl">
    <div class="row">
        <div class="col-lg-2 order-lg-3 d-lg-grid d-flex buttonGroup">
            <button id="0" class="d-block d-sm-none dayBtn btnStl">SIN ESTILO</button>
            <button id="1" class="dayBtn btnStl">DÍA UNO</button>
            <button id="2" class="dayBtn btnStl">DÍA DOS</button>
            <button id="3" class="dayBtn btnStl">DÍA TRES</button>
        </div>
        <div class="col-sm-6 col-lg-5 d-none d-sm-block">
            <div id="map0"></div>
        </div>
        <div class="col-sm-6 col-lg-5">
            <div id="map1" class="ol-attribution"></div>
        </div>
    </div>
</div>

